.mygrid{
  display:grid;
  grid-template-columns: auto 5fr;
  grid-template-rows: 150px;
}

.has-blue-background {
  background-color: #A7DDFF;
  border: 2px solid #721EE3;
}

.has-yellow-background {
  background-color: #FAF7A7;
  border: 2px solid #E38C1E;
}

.flexbox-container {
  display:flex;
  justify-content: space-between;
  margin-top: 2rem;
}
